<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934472464383-lhp68ia8v7pdfbc3fmjv0hcu82sa4q7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934472464383-lhp68ia8v7pdfbc3fmjv0hcu82sa4q7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCAu0wWeZuYVl9rMJ7cwpD6jaDaWhgaPv8</string>
	<key>GCM_SENDER_ID</key>
	<string>934472464383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hunguet21.learnJapanese</string>
	<key>PROJECT_ID</key>
	<string>learnjapanese-50521</string>
	<key>STORAGE_BUCKET</key>
	<string>learnjapanese-50521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934472464383:ios:7630dccd1650072e9699ca</string>
</dict>
</plist>